/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

:root{
  --bg-color-principal: white;
  --text-color-principal: black;
  --bg-color-principal-dark:black;
  --text-color-principal-dark:white;

  
}

body{
  border: solid;
  border-top: 0;
  border-bottom: 0;
  font-family: 'MuseoModerno', cursive;
}

.color{
  background-color: var(--bg-color-principal);
  color: var(--text-color-principal);
}

.img-principal{
  background-image: url(https://img.freepik.com/vector-gratis/dibujos-animados-naturaleza-vegetacion-hojas_52683-12799.jpg?w=996&t=st=1686753865~exp=1686754465~hmac=60c12c0674889b5da778e5102a2420aa566729f8dabfa63ef47f93a73baa9b30);
  width: 100%;
  height: 550px;
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
  

}

.img-principal h1{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 100px
}
section{
  margin-top: 2em;
}

section p{
  text-align: center;
  padding-inline: 1em;
}


.gal{
  margin-inline: auto;
  gap: 1em;
  margin-top: 1em;
}

.img1{
  background-image: url(https://img.freepik.com/foto-gratis/hermosa-foto-barcos-madera-lago-braies_181624-45458.jpg?w=900&t=st=1686753988~exp=1686754588~hmac=711039a3e097a1b0a6ba6fe3a9b2a16ee8c1b2a7d0a795bc69cf869a112cace3);
  width: 200px;
  height: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  
  color: white;
}
.img2{
  background-image: url(https://img.freepik.com/fotos-premium/magnifica-vista-lago-payto-montanas-nevadas-parque-nacional-banff-canada_181624-50641.jpg?w=996);
  width: 200px;
  height: 200px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.img3{
  background-image: url(https://img.freepik.com/foto-gratis/vista-vertical-girasoles-cielo-colorido-capturado-andalucia-espana_181624-7194.jpg?w=360&t=st=1686754817~exp=1686755417~hmac=b3f599ff90941211584cfc209accd6c41ecd3c7013f0bd1ee98e5419772cd0d6);
  width: 200px;
  height: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.img4{
  background-image: url(https://img.freepik.com/fotos-premium/camino-piedra-bosque-coniferas-montanas_135932-7845.jpg?w=996);
  width: 200px;
  height: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.img5{
  background-image: url(https://img.freepik.com/foto-gratis/fascinante-vista-montana-penalara-espana-cubierto-nieve-dia-soleado_181624-21474.jpg?w=900&t=st=1686754109~exp=1686754709~hmac=bea6352669116d64d3f0bf93a617405b62f9407929209539053dae9e6299da2e);
  width: 200px;
  height: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.img6{
  background-image: url(https://img.freepik.com/foto-gratis/campana-contaminacion-oceano-ballenas-nadando-bolsas-plastico-flotando_53876-124604.jpg?w=996&t=st=1686754179~exp=1686754779~hmac=02c3462950b2f6c406bb1edaaca81d7ea25cce52f15cc38207d0137f189d5f8b);
  width: 200px;
  height: 200px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.erro{
  height: 98vh;
  border: none;
}
.card-img-top{
  height: 300px;
  
}
.lead{
  margin-top: 3em;
}
.card-cocktail{
  width: 300px;
  border: none !important;
}
.ingredient{
  width: 150px;
  height: 150px;
}
:root:has(#oscuro:checked){
  --bg-color-principal: black;
  --text-color-principal: white;
  --bg-color-principal-dark:white;
  --text-color-principal-dark:black;
  
}

@media (max-width: 700px){
  .cocktail-indiv{
      flex-direction: column;
  }
  .gal{
      flex-direction: column;
  }
}

